@font-face {
  font-family: "Tamil Mn";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/TamilMn/tamil_medium.woff2") format("woff2");
}
@font-face {
  font-family: "Tamil Mn";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/TamilMn/tamil_black.woff2") format("woff2");
}
